.admin-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.admin-scrollbar::-webkit-scrollbar-track {
    background: transparent; 
}
.admin-scrollbar::-webkit-scrollbar-thumb {
    background: #2a2d35; 
    border-radius: 10px;
}
.admin-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #404450; 
}

#couponModal.show > div,
#deleteModal.show > div {
    transform: scale(1);
    opacity: 1;
}

input:focus, select:focus, textarea:focus {
    box-shadow: 0 0 0 1px rgba(231, 8, 20, 0.2);
}
