#registerForm input:-webkit-autofill,
#registerForm input:-webkit-autofill:hover, 
#registerForm input:-webkit-autofill:focus, 
#registerForm input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #1a1a1a inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}
